@font-face {
    font-family: KosugiMaru-Regular;
    src: url("KosugiMaru-Regular.ttf");
}
body {
    font-family: KosugiMaru-Regular;
    background: #A12B74;
    background-size:1920px;
}
a {
    color: #cd3178;
    text-decoration:none;
    font-weight:bold;
}
a:hover{
    text-decoration: underline;
}
.advertisement-banner {
    margin:20px;
}
td {
    background: url('pixlbg.png')
}
#wrap {
    width:600px;
    border:solid 3px #cd3178;
    border-radius: 0 0 15px 15px;
    overflow: hidden;
}